<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../partials/head');%>
</head>

<body class="container">
     <header>
          <%- include('../partials/header');%>
     </header>
     <main>
          <div id="content">
               <div class="row">
                    <div class="col-2"></div>
                    <div class="chaomung col-8">
                         <div class="text-chaomung">
                              <h2>CHÀO MỪNG BẠN ĐẾN VỚI HỆ THỐNG</h2>
                              <h2>ĐIỂM DANH VIÊN ONLINE !!!</h2>
                         </div>
                    </div>
                    <div class="col-2"></div>
               </div>
          </div>
     </main>
     <footer>
          <%- include('../partials/footer');%>
     </footer>
</body>
<%- include('../partials/js');%>

</html>