<div id="footer">
     <div class="footer-text">
         <p>&copy; Hệ thống điểm danh sinh viên online </p>
         <p><i>Design by </i><a href="#"><b>Tuấn Kiệt</b></a>, <a href="#"><b>Văn Hiền</b></a></p>
     </div>

 </div>